<div class="col-md-2 col-sm-3", id="Filters">
  <h3>Prefência</h3>
  <ul>
    <% @kinds.each do |kind|  %>
    <li><%=link_to kind.name, kind %></li>
    <% end %>
  </ul>
  <h3>Tipo</h3>
  <ul>
    <% @meals.each do |meal| %>
    <li><%=link_to meal.name, meal %></li>
    <% end %>
  </ul>
  <h3>Cozinha</h3>
  <ul>
    <% @kitchens.each do |kitchen| %>
    <li><%=link_to kitchen.name, kitchen %></li>
    <% end %>
  </ul>
</div>
