<div class="col-md-1 col-sm-3">
  <h3>Prefência</h3>
  <ul>
    <li>Vegetariana</li>
    <li>Carnes</li>
    <li>Diet</li>
  </ul>
  <h3>Tipo</h3>
  <ul>
    <li>Entrada</li>
    <li>Principal</li>
    <li>Sobremesa</li>
  </ul>
  <h3>Cozinha</h3>
  <ul>
    <li>Mineira</li>
    <li>Italiana</li>
    <li>Mexicana</li>
  </ul>
</div>
