<div class="row">
  <div class="col-md-7 col-sm-7 col-md-offset-5 col-sm-offset-5">
    <h1>Cozinhas</h1>
  </div>
</div>
<% @kitchens.each do |kitchen| %>
<div class="panel panel-body">
  <div class="col-md-7 col-sm-7 col-md-offset-5 col-sm-offset-5">
    <%= kitchen.name %>
  </div>
</div>
<% end %>
