<div class="container col-md-6 col-md-offset-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="center-block">
          <h1> Nova receita </h1>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="category_form">
        <%= simple_form_for @kitchen do |f| %>
          <%= f.input :name, label: 'Nome da cozinha', error: 'Campo obrigatório' %>
        <%= f.submit 'Adicionar Cozinha', class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
</div>
