<div class="row">
  <div class="col-md-12">
    <div class="col-md-offset-5">
      <h2><%= @kitchen.name %></h2><br><br>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render @kitchen.recipes %>
      </div>
    </div>
  </div>
</div>
