<% if current_user.try(:admin?) %>
  <div class="row">
    <div class="col-md-7 col-sm-7 col-md-offset-5 col-sm-offset-5">
      <h1>Refeições</h1>
    </div>
  </div>
  <% @meals.each do |meal| %>
  <div class="panel panel-body">
    <div class="col-md-7 col-sm-7 col-md-offset-5 col-sm-offset-5">
      <%= meal.name %>
    </div>
  </div>
  <% end %>
  <% else %>
  <%= render 'recipes/permission' %>
  <% end %>
