<% if current_user.try(:admin?) %>

  <div class="container col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="center-block">
            <h1> Nova Refeição </h1>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="category_form">
          <%= simple_form_for @meal do |f| %>
            <%= f.input :name, label: 'Refeição', error: 'Campo obrigatório' %>
          <%= f.submit 'Adicionar Refeição', class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>
  </div>

  <% else %>
  <%= render 'recipes/permission' %>
  <% end %>
